
<div class="nested-fields">
    <div class="form-group">
        <%= f.label :howtomake, '作り方' %>
        <%= f.text_field :howtomake, class:"form-control" %>
        <%= link_to_remove_association "この項目を削除", f, class:"btn btn-danger" %>
    </div>
</div>