
<div class="nested-fields">
    <div class="form-group">
        <%= f.label :material, '材料名' %>
        <%= f.text_field :material, class:"form-control" %>
        <%= link_to_remove_association "この材料を削除", f, class:"btn btn-danger" %>
    </div>
</div>