<div class="row">
    <table class="table">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <% @items.each do |item| %>
            <% end %>

            <tr>
                <td><%= item.cocktail_image %></td>
                <td><%= item.cocktail_name %></td>
                <td><%= link_to "商品詳細", admin_item_path(item) %></td>
            </tr>
        <% end %>
    </table>
</div>

<%= paginate @items %>