<<<<<<< HEAD
<div class="col-md-3 category-padding">
    <%= render 'layouts/category' %>
</div>
<% @items.each do |item|%>
    <%= item.cocktail_name %> <br>
<% end %>
=======
    <h1>ベースから選択する</h1>
>>>>>>> 34d5496248d1d3243538b6347518517372200f39
