<div class="category-box">
    <div class="category-logo">
        <span class="logo-text">Cotegory</span>
    </div>
    <div class="category-group">
        <% Category.all.each do |category| %>
            <p class="category"><%= link_to category.category_name, admin_category_path(category), class:"category-link" %></p><br>
        <% end %>
    </div>
</div>


