<footer class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span>© 1991-2019, Boooooze!!!.com, Inc</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-8">
      </div>
    </div>
  </div>
</footer>