<body>
     <header class="navbar navbar-inverse navbar-position">
        <div class="container">
            <nav class='nav navbar-nav navbar-left' >
                <h1><%= link_to " Boooooze!!! ", root_path,:style=>"color:white;"%></h1>
            </nav>
            <nav>
            <ul class="nav navbar-nav navbar-right navbar-original">
                <li class="header-li"><%= link_to " マイページ ", user_path(current_user) ,:style => "color:white;"%></li>
                <li class="header-li"><%= link_to " ログアウト ", destroy_user_session_path, method: :delete ,:style => "color:white;"%></li>
                <li class="header-li" style="color:green"><%= current_user.user_name %> さんようこそ</li>
            </ul>
            </nav>
        </div>
    </header>
</body>